/* Fonts */
:root {
    --main-font: 'Lato', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --main-color: rgb(255, 187, 66);
    --secondary-color: rgb(57, 75, 81);
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);

    color: var(--secondary-color);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 73.125rem;
    margin: 0 auto;
}