.section {
    padding-top: 6.875rem;
    padding-bottom: 10rem;
}

.section-heading {

    margin-bottom: 0.3125rem;

    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.section-description {


    font-family: var(--secondary-font);
    font-size: 0.875rem;
}